@inherits LayoutComponentBase

<div class="ui fluid container">
    <div class="ui remove-padding grid">
        <div class="three wide computer only column">
            <NavMenu />
        </div>
        <div class="thirteen wide computer sixteen wide mobile sixteen wide tablet column">
            @Body
        </div>
    </div>
</div>