<div style="border-radius: 0;
            position: fixed;
            width: inherit;
            min-height: 100%"
     class="ui inverted vertical menu">
    <a href="/" class="item">
        <div class="ui large inverted header">
            Blezzenger
        </div>
    </a>
    <a class="item" href="#">
        <i class="user circle icon"></i> Profile
    </a>
    <a class="item" href="chat">
        <i class="comment icon"></i>Chat
    </a>
    <div class="item"></div>
</div>
<div style="position: fixed;
            width: inherit;
            bottom: 0;"
     class="ui inverted vertical menu">
    <div class="item"></div>
    <a class="item" href="#">
        <i class="cog icon"></i> Settings
    </a>
</div>